$primary-100 : #f3feff;
$primary-300 : #d1ebec;
$primary     : #43b6b8;
$primary-700 : #1e989a;

$white       : #ffffff;
$white-100   : #f4f6f8;
$white-300   : #e5e5e5;

$black-100   : #53565a;
$black-500   : #18304c;
$black       : #0d1a28;

$background  : $white-300;
$text-color  : $black;
$border-list : $white-100;
